---
import { Image } from "astro:assets";
import ArrowLeftIcon from "@assets/icons/arrow-icon.svg";
import GradientBorderContainer from "./GradientBorderContainer.astro";
---

<div class="chat-wrapper w-full sm:w-fit h-[54px]">
  <GradientBorderContainer
    background="transparent"
    border="linear-gradient(98.71deg, var(--brand-orange) -0.15%, var(--brand-pink) 99.85%)"
    class="rounded-full w-full sm:w-fit cursor-pointer overflow-hidden transition-all duration-300"
  >
    <a
      href="/SistemaPorcentajesRosado.pdf"
      download
      target="_blank"
      aria-label="View Fees "
      class="chat-btn flex items-center justify-center gap-[10px] rounded-full py-[13px] px-6 group overflow-hidden w-full sm:w-auto"
    >
      <span
        class="font-semibold text-lg whitespace-nowrap text-white
        transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
        group-hover:translate-x-[20px]"
      >
        <span>View Fees</span>
      </span>

      <Image
        src={ArrowLeftIcon}
        alt="Whatsapp Icon"
        class="w-6 h-6 transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
        group-hover:-translate-x-[110px]"
      />
    </a>
  </GradientBorderContainer>
</div>

<style>
  .chat-wrapper:hover :global([data-item="background"]) {
    background: linear-gradient(
      270deg,
      var(--brand-orange) 0%,
      var(--brand-pink) 100%
    ) !important;
  }

  .chat-wrapper:hover :global([data-item="border-gradient"]) {
    background: transparent !important;
  }
</style>
