---
import { Image } from "astro:assets";
import LogoGabs from "@images/logos/gabs.png";
import ArrowLeftIcon from "@icons/arrow-icon.svg";
import MotionWrapper from "@ui/containers/MotionWrapper";
import ChatButton from "../ui/components/ChatButton";
const isSelected = false;
---

<footer>
  <MotionWrapper
    client:load
    animation="slideUp"
    type="tween"
    duration={0.8}
    ease="backOut"
    className="relative w-full border-t border-secondary-500 overflow-hidden md:h-[92px] md:overflow-visible"
  >
    <div
      class="flex flex-col justify-between items-center gap-6 pt-2 pb-8 px-4 w-full max-w-[1200px] mx-auto
            md:flex-row md:py-[6px]"
    >
      <Image
        src={LogoGabs}
        alt="Gab Solutions"
        class="h-20 w-20 mx-auto md:m-0 order-1 md:order-1"
      />

      <div class="text-center order-2 md:order-3">
        <ChatButton client:load />
      </div>

      <p class="text-neutral-500 order-3 md:order-2">
        © 2026 G.A.B.S. Solutions.
      </p>
    </div>

    <div
      data-radial="gradient-footer-mobile"
      class="absolute -bottom-[75px] left-1/2 -translate-x-1/2 w-[150px] h-[150px] blur-[116px]
    bg-radial-[at_50%_50%] from-(--brand-orange) from-30%
    to-(--brand-pink) to-100% -z-1 md:hidden"
    >
    </div>

    <div
      data-radial="gradient-footer-desktop"
      class="hidden absolute bottom-[175px] -left-[30px] w-[150px] h-[150px] blur-[116px]
    bg-radial-[at_50%_50%] from-(--brand-orange) from-30%
    to-(--brand-pink) to-100% -z-1 md:block"
    >
    </div>
  </MotionWrapper>
</footer>
