---
import { Image } from "astro:assets";
import LogoGabs from "@images/logos/gabs.png";
import ArrowLeftIcon from "@icons/arrow-icon.svg";
import GradientBorderContainer from "@ui/components/GradientBorderContainer.astro";
import NavLink from "@ui/elements/NavLink";
import MotionWrapper from "@ui/containers/MotionWrapper";

const GABS_TELEGRAM = "https://t.me/+51970102209";
---

<footer>
  <MotionWrapper
    client:load
    animation="slideUp"
    type="tween"
    duration={0.8}
    ease="backOut"
    className="relative w-full border-t border-secondary-500 overflow-hidden md:h-[92px] md:overflow-visible"
  >
    <div
      class="flex flex-col justify-between items-center gap-6 pt-2 pb-8 px-4 w-full max-w-[1200px] mx-auto
            md:flex-row md:py-[6px]"
    >
      <Image
        src={LogoGabs}
        alt="Gab Solutions"
        class="h-20 w-20 mx-auto md:m-0"
      />

      <p class="text-ne">© 2026 G.A.B.S. Solutions.</p>
      <div class="mt-3 text-center md:mt-0">
        <GradientBorderContainer
          background="transparent"
          border="linear-gradient(98.71deg, var(--brand-orange) -0.15%, var(--brand-pink) 99.85%)"
          class="rounded-full w-fit ms-auto cursor-pointer"
        >
          <a
            href={GABS_TELEGRAM}
            target="_blank"
            aria-label="Chat with our support team now"
            class="flex items-center gap-[10px] rounded-full py-[13px] px-6 group"
          >
            <span
              class="font-semibold text-lg drop-shadow-[0px_0px_12px_rgba(255,255,255,0.56)]
						transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
						group-hover:translate-x-8 md:group-hover:translate-0 md:w-min lg:group-hover:translate-x-8 lg:w-auto"
            >
              Chat
              <span class="md:hidden lg:inline">Chat with us</span>
            </span>
            <Image
              src={ArrowLeftIcon}
              alt="Arrow Left Icon"
              class={`w-6 h-6 transition-transform duration-300 ease[cubic-bezier(0.34,1.56,0.64,1)]
						group-hover:-translate-x-[105px] md:hidden md:group-hover:translate-0
						lg:block lg:group-hover:-translate-x-[105px]`}
            />
          </a>
        </GradientBorderContainer>
      </div>
    </div>

    <div
      data-radial="gradient-footer-mobile"
      class="absolute -bottom-[75px] left-1/2 -translate-x-1/2 w-[150px] h-[150px] blur-[116px]
    bg-radial-[at_50%_50%] from-(--brand-orange) from-30%
    to-(--brand-pink) to-100% -z-1 md:hidden"
    >
    </div>

    <div
      data-radial="gradient-footer-desktop"
      class="hidden absolute bottom-[175px] -left-[30px] w-[150px] h-[150px] blur-[116px]
    bg-radial-[at_50%_50%] from-(--brand-orange) from-30%
    to-(--brand-pink) to-100% -z-1 md:block"
    >
    </div>
  </MotionWrapper>
</footer>
