---
import { Image } from "astro:assets";
import LogoGabs from "@images/logos/gabs.png";
import MobileMenu from "@components/ui/components/MobileMenu";
import MotionWrapper from "@components/ui/containers/MotionWrapper";
import NavLink from "@components/ui/elements/NavLink";
import ChatButton from "../ui/components/ChatButton.astro";
---

<header
  class="fixed top-0 w-full border-b border-secondary-500 bg-[rgba(18,0,11,0.72)] backdrop-blur-lg z-30"
>
  <MotionWrapper
    client:load
    animation="fade"
    duration={0.8}
    ease="backOut"
    viewportAmount={0}
  >
    <div
      data-radial="gradient-header"
      class="hidden absolute -top-[198px] -left-[106px] w-[250px] h-[250px] blur-[150px]
        bg-radial-[at_50%_50%] from-(--brand-orange) from-30% to-(--brand-pink) to-100% z-0 md:block"
    >
    </div>

    <div
      class="flex justify-between items-center h-[88px] px-4 w-full
             md:h-[92px] gap-auto md:px-[144px] md:py-[6px]"
    >
      <div class="flex items-center gap-4">
        <MobileMenu client:only />
        <a href="/" aria-label="Go to Homepage" class="cursor-pointer">
          <Image
            src={LogoGabs}
            alt="GABS SOLUTIONS"
            class="h-[72px] w-[72px]"
            loading="eager"
          />
        </a>
      </div>

      <nav class="hidden md:flex md:items-center">
        <ul class="flex items-center gap-8">
          <li><NavLink client:only to="games" text="Games" /></li>
          <li><NavLink client:only to="features" text="Features" /></li>
          <li>
            <NavLink
              client:only
              to="sweepstakes-platform"
              text="Sweepstakes Platform"
            />
          </li>
        </ul>
      </nav>

      <ChatButton />
    </div>
  </MotionWrapper>
</header>
