---
const { tag, icon: Icon, customClass } = Astro.props;
---

<p 
    class={`w-fit flex justify-center items-center gap-[10px] bg-[var(--background-02)] rounded-xl
    font-medium text-lg leading-[150%] px-4 py-2 mt-5 mb-4 ${customClass}`}>
    {Icon && <Icon />}
    {tag}
</p>