---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Gab Solutions" />
    <title>Gab Solutions</title>
  </head>
  <body class="pt-[88px] md:pt-[92px] overflow-x-hidden">
    <Header />
    <main class="w-full max-w-[1440px] mx-auto px-4 md:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
